:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  width: 100vw;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  top: 30%;
  left: 10%;
}
aside > header > h2 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

aside > ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: #202020;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 28px;
  letter-spacing: 1.7px;
}

dialog {
  padding: 0;
  margin: auto;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader > button {
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.pageHeader > button:hover {
  scale: 0.95;
}

.spacesContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.spacesContainer > li {
  width: 100%;
}

.validationError {
  font-size: 8px;
  color: #f71310;
  padding-left: 4px;
}
