.form-dialog {
  max-width: 400px;
}
.form-dialog-form {
  display: flex;
  padding: 16px;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.form-dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form-dialog-first-button,
.form-dialog-second-button {
  margin-top: 10px;
  padding: 4px 8px;
  font-size: 8px;
  border-radius: 8px;
}

.form-dialog-first-button {
  background-color: #fff;
  border: 1px solid #8d9093;
  color: #8d9093;
  transition: all 0.3s ease-in-out;
}
.form-dialog-second-button {
  background-color: #8d9093;
  border: 1px solid #8d9093;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
